<!-- todo/templates/zadania_lista.html -->
{% extends "szkielet.html" %}
{% block tytul %}{{ config.SITE_NAME }}{% endblock%}

{% block h1 %}Moje zadania{% endblock %}

{% block tresc %}
    {% if g.user %}
    <p><strong class="success">Witaj: {{ g.user["email"] }}</strong></p>
    <!-- formularz dodawania zadania -->
    <form method="post">
      <div class="row">
        <label for="zadanie" class="p-2">Treść zadania</label>
      <div class="col-lg-8">
        <input id="zadanie" name="zadanie" required value="" class="form-control p-2 col-auto">
      </div>
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary p-2 mt-2 mt-lg-0 col-auto">Dodaj zadanie</button>
      </div>
      </div>
    </form>
    {% endif %}

    <ol class="list-group mt-5">
      <!-- wypisujemy kolejno wszystkie zdania -->
      {% for zadanie in zadania %}
        <li class="list-group-item">
          <div class="">
          <!-- wyróżnienie zadań zakończonych -->
          <p><b>Autor</b>: {{ g.user["email"] }}. <b>Dodano</b>: {{ zadanie.data_pub.strftime('%Y-%m-%d %H:%M') }}</p>
          {% if zadanie.zrobione %}
            <p class="text-decoration-line-through p-2">{{ zadanie.zadanie }}</p>
          {% else %}
            <p class="fw-bold fs-5 p-2">{{ zadanie.zadanie }}</p>
          {% endif %}

          <!-- zmiana statusu zadania -->
          {% if zadanie.zrobione %}
          <form class="d-inline" action="{{ url_for('zmien_status', id=zadanie['id'], status=0) }}" method="post">
            <input class="btn btn-sm fw-bold btn-primary mx-1" type="submit" value="Niezrobione">
          </form>
          {% else %}
          <form class="d-inline" action="{{ url_for('zmien_status', id=zadanie['id'], status=1) }}" method="post">
            <input class="btn btn-sm fw-bold btn-primary mx-1" type="submit" value="Zrobione">
          </form>
          {% endif %}
          <a class="btn btn-sm fw-bold btn-primary" href="{{ url_for('edytuj', id=zadanie['id']) }}">Edytuj</a>
          <form class="d-inline" action="{{ url_for('usun', id=zadanie['id']) }}" method="post">
            <input class="btn btn-sm btn-danger mx-1" type="submit" value="Usuń" onclick="return confirm('Jesteś pewien?');">
          </form>
          </div>
        </li>
      {% endfor %}
    </ol>
{% endblock %}
